body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	color: #000;
	font-family: 'Inter';
	line-height: normal;
	letter-spacing: 0px;
	overflow: auto;
}

.st-name {
	margin-top: 1px;
	text-align: left;
}

.i-phone-se {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 7px;
	background-color: #f7f6de;
	padding: 19px 33px 22px 33px;
}

.i-phone-se-subtitle {
	--min-font-size: 19; --max-font-size: 20; font-size: var(--interpolate);
}

.i-phone-se-text {
	margin-left: 9px;
	font-size: 12px;
}

.i-phone-se-96de {
	position: absolute; top: 0; left: 30%;
	justify-self: center;
	rotate: 0deg;
	width: 536px;
	height: 336px;
	transform-origin: 50% 50%;
}

.i-phone-se-subtitle-little-lemon {
	margin-left: 4px;
	width: 154px;
	--min-font-size: 23; --max-font-size: 24; font-size: var(--interpolate);
}

.i-phone-se-subtitle1 {
	margin-left: 4px; margin-top: 12px;
	width: 96px;
}

.i-phone-se-text1 {
	margin-top: 13px;
}

.i-phone-se-text-we-are-a-family {
	width: 192px;
}

.i-phone-se-subtitle2 {
	margin-left: 9px; margin-top: 17px;
	width: 100%;
	max-width: 308px;
}

.i-phone-se-col {
	margin-top: 22px;
	width: 100%;
	max-width: 362px;
	display: flex;
	flex-direction: column;
	gap: 21px;
	font-size: 14px;
}



/* guests-input */

.guests-input {
	margin-top: 2px;
	display: flex;
	align-items: flex-start;
	padding-left: 1px;
}

.guests-input-rect {
	height: 28px;
	flex-grow: 1;
	background-color: #eddcdc;
}
/* end guests-input*/


.guests-input1 {
	margin-top: 0;
	gap: 67px;
}

.guests-input1 .guests-input-text {
	margin-top: 2px;
}

.guests-input2 {
	gap: 68px;
}

.guests-input3 {
	gap: 43px;
}

.i-phone-se-guests-input {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-left: 1px;
}

.i-phone-se-rect1 {
	width: 251px; height: 28px;
	flex-shrink: 0;
	background-color: #eddcdc;
}

.i-phone-se-text-add-a-special {
	margin-left: 0; margin-top: 22px;
	align-self: stretch;
}

.i-phone-se-rect2 {
	width: 100%; height: 56px;
	max-width: 367px;
	flex-shrink: 0;
	background-color: #eddcdc;
}

.i-phone-se-row-bottom {
	margin-left: 2px; margin-top: 17px;
	width: 100%;
	max-width: 466px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	align-self: center;
}

.i-phone-se-text-go-to-checkout {
	margin: 1px 0 -1px -1px;
	font-size: 16px;
	text-align: center;
}

.i-phone-se-subtitle-next {
	margin: -4px -3px -1px 0;
	font-size: 20px;
	text-align: left;
}
