body {
	container: body / inline-size;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: 'Inter';
	line-height: normal;
	letter-spacing: 0px;
	background-color: #f7f6de;
	padding: 21px 8px 20px 8px;
	border-radius: 30px;
	overflow: auto;
}

.booking-page-btn {
	margin-right: 15px;
	display: flex;
	justify-content: center;
	color: #000;
	font-size: 20px;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: rgba(217, 217, 217, 0.41);
	padding: 0 3px;
	border-radius: 5.8px;
}

.booking-page-row-top {
	margin-left: 12px;
	display: flex;
	align-items: flex-start;
	gap: 69px;
	align-self: start;
	color: #000;
	font-size: 3px;
}

.booking-page-col-left {
	margin-top: 11px;
	width: 74px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	text-align: left;
	padding-bottom: 1px;
}

.booking-page-line {
	height: 0;
	flex-shrink: 0;
	border-top: 1px solid #000;
}

.booking-page-line1 {
	margin-top: -1px;
}

.booking-page-line2 {
	margin-top: 10px;
}

.booking-page-text-symbol {
	margin-left: 13px;
	align-self: start;
}

.booking-page-line3 {
	margin-top: 7px;
}

.booking-page-725c {
	width: 161px;
	flex-shrink: 0;
}

.booking-page-graphic {
	margin-left: 14px; margin-top: 8px;
	width: 35px; height: 24px;
	flex-shrink: 0;
}

.booking-page-col {
	margin-top: 6px;
	width: 100%;
	max-width: 850px;
	display: flex;
	flex-direction: column;
	gap: 14px;
	align-self: center;
	color: #f5f5f5;
	background-color: #112d4e;
	padding: 8px 7px 77px 7px;
}

.booking-page-subtitle-little-lemon {
	width: 100%;
	max-width: 418px;
	align-self: center;
	font-size: 32px;
}

.booking-page-title {
	width: 100%;
	max-width: 342px;
	align-self: center;
	font-size: 35px;
}

.booking-page-subtitle-find-a-table {
	margin-top: 4px;
	font-size: 24px;
}

.booking-page-lm-restau {
	margin-left: 0px; margin-top: 0px;
	width: 502px; height: 200px;
	flex-shrink: 0;
	align-self: center;
}

.booking-page-row {
	margin-left: 2px; margin-top: 51px;
	width: calc(100% - 32px);
	max-width: 800px;
	display: flex;
	align-items: flex-start;
	gap: 12px;
	align-self: center;
	color: #000;
	font-size: 16px;
}

.booking-page-btn-date-v {
	margin-top: 2px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
	text-align: center;
	background-color: rgba(217, 217, 217, 0.41);
	padding: 16px 7px 20px 7px;
	border-radius: 5.5px;
}

.booking-page-btn-time-v {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
	text-align: center;
	background-color: rgba(217, 217, 217, 0.41);
	padding: 16px 3px 22px 3px;
	border-radius: 5.7px;
}

.booking-page-btn1 {
	margin-left: 18px; margin-top: 8px;
	padding-top: 17px;
	padding-bottom: 17px;
}

.booking-page-btn-occasion {
	margin-left: 19px; margin-top: 12px;
	padding-top: 13px;
	padding-bottom: 21px;
}

.booking-page-subtitle-seating-options {
	margin: 6px 22px 0 22px;
	color: #f5f5f5;
	font-size: 28px;
}

.booking-page-text-standard {
	margin: 0 22px;
	color: #f5f5f5;
	font-size: 17px;
}

.booking-page-text-outside {
	margin: 0 22px;
	color: #f5f5f5;
}

.booking-page-undefined-bottom {
	margin: 6px 15px 0 22px;
	color: #000;
	font-size: 36px;
	background-color: rgba(217, 217, 217, 0.41);
	padding: 14px 129px 12px 151px;
	border-radius: 7px;
}

/* container queries (flex rows) */

@container body (width < 433px) {
	.booking-page-row-top {
		margin-left: 0;
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.booking-page-row {
		margin-left: 0; margin-right: 0;
	}
	.booking-page-btn1 {
		margin-left: 0; margin-right: 0;
	}
	.booking-page-btn-occasion {
		margin-left: 0; margin-right: 0;
	}
	.booking-page-subtitle-seating-options {
		margin-left: 0; margin-right: 0;
	}
	.booking-page-text-standard {
		margin-left: 0; margin-right: 0;
	}
	.booking-page-text-outside {
		margin-left: 0; margin-right: 0;
	}
	.booking-page-undefined-bottom {
		margin-left: 0; margin-right: 0;
	}
	.booking-page-row-top > * {
		margin-left: unset !important; margin-top: unset !important;
		text-align: center;
	}
	.booking-page-row-top .booking-page-text-symbol {
		align-self: center;
	}
}

@container body (width < 487px) {
	.booking-page-row {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.booking-page-row > * {
		margin-top: unset !important;
		text-align: center;
	}
	.booking-page-row > .booking-page-btn-date-v {
		width: 100%;
	}
	.booking-page-row > .booking-page-btn-time-v {
		width: 100%;
	}
}
