
:root {
	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.text {
	font-size: 16px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0px;
}



/* button hover utility classes */

.hover-dark:hover {
	filter: brightness(0.85);
}
